button
	background: transparent
	border: none
	outline: none
	cursor: pointer

.callback-btn
	max-width: 228px
	width: 100%
	font-size: 16px
	border-radius: 24px
	margin: 0 auto
	height: 48px
	line-height: 46px
	transform: scale(1)
	&:hover
		transform: scale(1.2)
		transition: all .3s linear

.blue-btn
	display: block

	color: $bg-color-white
	background-color: #058ac7
	overflow: hidden
	min-width: 190px
	position: relative
	transition: .3s
	z-index: 0
.main-btn
	border-radius: 35px
	text-shadow: 0.7px 1.9px 2px rgba(0,0,0,.2)
	font-size: 24px
	font-weight: 700
	line-height: 1
	position: relative
	height: 65px
	top: 0
	padding: 0 10px
	transition: all .3s linear
	//&::after
	//content: ""
		//width: 100%
		//position: absolute
		//bottom: 4px
		//height: 100%
		//background-image: linear-gradient(to left,#0084c2 0,#31aad6 100%)
		//border-radius: inherit
		//z-index: -1
		//box-shadow: 0 5px 32px 8px rgba(11,123,171,.2)
		//left: 0
		//transition: all .3s linear
		//opacity: 1
	//&:hover::after
		//background-image: linear-gradient(to right,#0093d8 0,#4ac7f4 100%)
	&:hover
		box-shadow: 0 0 10px 0 #28b7fa, 0 0 20px 2px #28b7fa
		//border: 1px solid #28b7fa
		//transition: all .3s linear
	img
		display: inline-block
		width: 22px
		height: 22px
		transform: translateY(4px)

.main-btn--small
	width: 310px
	height: 70px

.video-btn
	width: 285px
	height: 70px

.main-btn--large
	width: 350px
	height: 70px

.footer-btn
	display: block
	color: $bg-color-white
	border: 1px solid #38baed
	background: 0 0
	transform: scale(1)
	line-height: 42px
	width: 190px
	height: 48px
	border-radius: 35px
	position: relative
	transition: all .3s linear
	&::after
		position: absolute
		transition: .3s
		content: ''
		width: 0
		left: 50%
		bottom: 0
		height: 3px
		background: #f7f7f7

.footer-btn:hover
	transform: scale(1.2)
