.consultation
	&__subtitle
		font-size: 22px
		font-weight: 300
		color: $bg-color-blue--dark
		margin-bottom: 50px
		text-align: center
	&-form
		display: flex
		justify-content: space-between
		align-items: center
		.error
			border: 1px solid red
		label.error
			border: none
			text-align: center
			display: block
			color: red
			padding-top: 10px
			position: absolute
			bottom: -29px
			left: 50%
			transform: translateX(-50%)
			width: 100%

		&__wrap
			max-width: 350px
			width: 100%
			position: relative

		&__input
			border: 1px solid $bg-color-blue
			display: block
			width: 100%
			padding: 0 10px 0 65px
			color: #333
			font-size: 15px
			background: $bg-color-white
			font-weight: 400
			height: 58px
			border-radius: 35px
			outline: none
		button
			max-width: 350px
			width: 100%
	&__text
		font-size: 22px
		font-weight: 300
		color: $bg-color-blue--dark
		margin-top: 35px
		margin-bottom: 20px
		text-align: center
	&__phone
		font-family: $font-daysSans
		font-size: 26px
		color: #337ab7
		text-align: center
		display: block
		transition: all .3 linear
		&:hover
			color: #23527c
			text-decoration: underline

.consultation-form__wrap-name, .consultation-form__wrap-phone
	position: relative

.consultation-form__wrap-name,
.consultation-form__wrap-phone
	&::before
		content: ""
		width: 14px
		height: 16px

		position: absolute
		top: 23px
		left: 25px
.consultation-form__wrap-name
	&::before
		background: url('../images/icons/icon-user.svg') no-repeat
.consultation-form__wrap-phone
	&::before
		background: url('../images/icons/icon-phone.svg') no-repeat
