.intro
	background: url(../images/bg/intro-bg.jpg) center center no-repeat
	background-size: cover
	padding: 178px 0 120px
	&__title-content
		margin-bottom: 20px
		position: relative
	&__title
		color: $bg-color-blue--dark
		line-height: 44px
		font-size: 39px
		font-family: "DaysSans-Black", sans-serif
		font-weight: 900
		max-width: 953px
		width: 100%
		letter-spacing: 2px
		text-transform: uppercase
		&--color
			color: #b22222
	&-container
		.consultation__phone
			margin-bottom: 10px
			color: #0a9adc
	&__descr
		font-size: 32px
		line-height: 1.2
		color: #0a9adc
		margin-bottom: 16px
		font-weight: 700
	&__subtitle
		color: #0a9adc
		font-size: 32px
		line-height: 49px
		span
			color: #b22222
			font-family: "SFProDisplay", sans-serif
	&__appeal
		color: $bg-color-blue--dark
		font-size: 24px
		line-height: 36px
		margin-bottom: 24px
	&__list
		margin-bottom: 40px
	&__item
		font-size: 18px
		line-height: 27px
		color: $bg-color-blue--dark
		padding-left: 24px
		margin-bottom: 10px
		position: relative
		&::before
			content: ""
			width: 16px
			height: 16px
			position: absolute
			top: 50%
			left: 0
			transform: translateY(-50%)
			background: url('../images/icons/icon-check.svg') no-repeat

.intro__radius
	box-shadow: 0 8px 40px rgba(0,0,0,.1)
	position: relative
	z-index: 33
