.radius__section
	overflow: hidden
	width: calc(100% + 600px)
	padding: 0 300px
	margin-left: -300px
	border-bottom-left-radius: 3000px 400px
	border-bottom-right-radius: 3000px 400px
	margin-bottom: -60px

.item-radius1
	position: relative
	z-index: 32
.item-radius2
	position: relative
	z-index: 31

.item-radius3
	position: relative
	z-index: 30

.item-radius4
	position: relative
	z-index: 29

.item-radius5
	position: relative
	z-index: 28

.item-radius6
	position: relative
	z-index: 27

.item-radius7
	position: relative
	z-index: 26

.item-radius8
	position: relative
	z-index: 25

.item-radius9
	position: relative
	z-index: 24

.item-radius10
	position: relative
	z-index: 23

.item-radius11
	position: relative
	z-index: 22

.item-radius12
	position: relative
	z-index: 21

.item-radius13
	position: relative
	z-index: 20

.item-radius14
	position: relative
	z-index: 19
