.section14
	padding: 100px 0 60px
	background: url(../images/bg/section10-bg.jpg) center center/cover no-repeat

.video-reviews__family
	display: flex
	justify-content: center
	flex-wrap: wrap

	.video-reviews__item
		padding: 0 20px
		margin-bottom: 15px
