@media ( max-width: 1129px)
	.header
		&__inner
			flex-wrap: wrap

		&-menu
			&__inner
				margin: 0 auto
				order: 2
			&__list
				text-align: center
		&__callback
			display: flex
			align-items: center
			&-inner
				margin: 0 30px
