@media ( max-width: 1129px)
	.header
		&__inner
			flex-wrap: wrap

		&-menu
			&__inner
				margin: 0 auto
				order: 2
			&__list
				text-align: center
		&__callback
			display: flex
			align-items: center
			&-inner
				margin: 0 30px

	.intro
		background-position-x: -634px

.macbook-bg
	max-width: 597px

.mac-video
	width: 440px
	height: 287px
	top: 16px

.consultation
	&-form
		&__wrap-phone
			margin: 0 10px
