@media ( max-width: 420px)
	.intro
		&__title
			font-size: 19px
		&__subtitle
			font-size: 16px
			line-height: 18px
		&__appeal
			font-size: 18px

	.consultation-btn
		width: 100%

	.section1
		padding: 100px 0
		&__title
			font-size: 18px
		&__subtitle
			font-size: 18px
	.macbook-bg
		max-width: 318px

	.mac-video
		width: 234px
		height: 145px

	.main-btn--small
		width: 100%

	.title
		font-size: 18px
	.section2
		.title
			font-size: 18px
			margin-bottom: 20px

	.newlife
		&__item
			padding-left: 30px
		&__price
			font-size: 16px
			span
				font-size: 18px

	.content
		&__item
			width: 100%

	.section4
		&__subtitle
			font-size: 14px
	.acquisition
		padding: 16px 0
		&__item
			margin-bottom: 20px
		&__text
			text-align: center
			font-size: 14px
			padding-left: 20px

	.consultation
		&__text
			font-size: 20px
		&__phone
			font-size: 22px

	.program
		&__title
			font-size: 18px
		&-rehabilitation__title
			font-size: 18px

	.unique-technique
		&__title
			font-size: 18px
		&__text
			font-size: 16px

	.main-btn--large
		width: 100%

	.warranty
		&__item
			padding-left: 40px
			&::before
				width: 30px
				height: 30px

	.questions__title
		font-size: 18px

	.contacts__item-title
		font-size: 18px

	.contacts-content
		a,
		span
			font-size: 16px

	.footer-btn
		width: 90%

	.bazz-widget.opened
		width: 300px
		height: 300px
		padding: 16px

	.bazz-widget-form
		height: 100%

		&-top, .bazz-widget-form-bottom
			height: 100%
			display: block

		& label
			width: 100%
			text-align: center
			font-size: 18px

		& input
			width: 100%
			margin-bottom: 15px !important
			height: 46px !important
			font-size: 18px !important

		&-submit
			width: 100%
			margin-left: 0
			margin-bottom: 15px
			height: 46px
			font-size: 18px
			line-height: 44px

		&-bottom label
			width: 100%

		&-top.overflow
			margin-top: -270px

	.bazz-widget-name-close
		width: 64px
		height: 64px
		background-size: 37px
		margin-left: 0
