@media ( max-width: 420px)
	.intro
		&__title
			font-size: 19px
		&__subtitle
			font-size: 12px
		&__appeal
			font-size: 18px

	.line__bg
		padding-top: 0
		padding-bottom: 0

	.consultation-btn
		width: 100%
