@media ( max-width: 523px)
	.header__callback
		display: none
	.intro
		&__subtitle
			font-size: 16px

	.line__bg
		padding-left: 0
		padding-right: 0

	.macbook-bg
		max-width: 400px

	.mac-video
		width: 293px
		height: 181px

	.newlife
		&__title
			font-size: 22px
			&::before
				font-size: 22px
		&__price
			font-size: 20px
			span
				font-size: 20px

	.photoclinic
		&__items
			flex-wrap: wrap
		&__item
			&-wrap
				display: block
				width: 100%
		&__photo
			max-width: 100%
			height: auto

	.comfortlive
		padding-bottom: 20px

	.content
		&__item
			width: 80%

	.consultation
		&-form
			flex-direction: column
			&__wrap
				max-width: 100%
			button
				max-width: 100%

	.video-reviews
		&__item
			max-width: 100%

	.video-reviews__family
		.video-reviews__item
			max-width: 100%

	.centers
		&__inner
			display: block
		&__item
			&--red
				padding: 0
				&::before
					content: none
			&-title
				font-size: 20px
				margin-bottom: 20px
			&--green
				padding: 0
		&-list__item
			margin-bottom: 20px

	.warranty
		&__list
			width: 100%
