@media ( max-width: 660px)
	.intro
		&__subtitle
			font-size: 20px
	.macbook-bg
		max-width: 480px
	.mac-video
		width: 350px
		height: 223px

	.section1
		padding-bottom: 77px

	.newlife
		&__item
			padding-left: 50px
		&__title
			&::after
				width: 100%
		&__price
			text-align: center

	.history-patient
		&__item
			width: 100%
