@media ( max-width: 744px)
	.intro
		&__title
			font-size: 24px
			line-height: 28px
			letter-spacing: 0

	.section3
		&__subtitle
			font-size: 14px
	.comfortlive
		&__title
			font-size: 20px

	.section1, .section2, .section3, .section4, .section5, .section6, .section7, .section8, .section9, .section10, .section11, .section12, .section13, .section14, .section15, .section16, .section17, .section18

		padding: 29px 0 30px

	.centers
		&__item--red
			padding: 15px
			.centers-list__item
				&-title
					padding-left: 0
					&::before
						content: none
		&__item--green
			padding: 15px
			.centers-list__item
				&-title
					padding-left: 0
					&::before
						content: none

	.warranty
		&__inner
			display: block
		&__list
			width: 80%
			margin: 0 auto
