@media ( max-width: 830px)
	.intro
		&__title
			font-size: 36px
			margin-bottom: 10px
		&__subtitle
			font-size: 30px
			margin-bottom: 12px

	.comfortlive
		&__items
			flex-wrap: wrap
			justify-content: center
		&__item
			width: 46%
			margin: 0 10px 20px 10px
			min-height: 210px
	.acquisition
		&__items
			justify-content: center
		&__item
			width: 80%
