@media ( max-width: 830px)
	.intro
		&__title
			font-size: 36px
			margin-bottom: 10px
		&__subtitle,
		&__descr
			font-size: 30px

	.content
		&__items
			flex-wrap: wrap
			justify-content: center
		&__item
			width: 46%
			margin: 0 10px 20px 10px
			min-height: 210px
	.acquisition
		&__items
			justify-content: center
		&__item
			width: 80%

	.consultation
		&-form
			flex-direction: column
	.form
		button
			max-width: 70%
		&__wrap
			max-width: 70%

	.modal-form
		.form__wrap
			max-width: 100%
		button
			max-width: 100%

	.rehabilitation
		&__inner
			justify-content: center

	.video-reviews__family
		flex-wrap: wrap
		justify-content: center
		.video-reviews__item
			margin-bottom: 30px
			max-width: 80%

	.footer
		&__inner
			text-align: center
			display: block
		&-content
			margin: 0 auto 20px auto
			&__item
				border: none
		&-btn
			margin: 0 auto
		.header__logo
			margin: 0 auto
